<div class="tabs js-tabs">
    <div class="container">
        <ul class="tabs__header">
            <li data-tab="tab-one" class="tabs__btn active">Lorem </li>
            <li data-tab="tab-two" class="tabs__btn">Ipsum</li>
        </ul>
    </div>
    <div class="tabs__content active" data-content="tab-one">
        <div class="container container--full">
            <h1 class="main-title ">Lorem ipsum dolor <span>sit</span> amet</h1>
            <div class="tabs-body">
                <div class="tabs-body__wrap">
                    <div class="tabs-body__text">
                        <div class="tabs-body__text-wrap">
                            <h2 class="section-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                            <p class="base-text">Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute
                                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                            </p>
                            <p class="base-text"> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia deserunt
                                mollit
                                anim
                                id est laborum/ Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis
                                nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                irure
                                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                Excepteur
                                sint occaecat cupidatat.</p>
                        </div>
                    </div>
                    <div class="tabs-body__images" style="background-image: url(assets/images/1.jpg);">
                    </div>
                </div>

                <div class="tabs-body__wrap">
                    <div class="tabs-body__text">
                        <div class="tabs-body__text-wrap">
                            <h2 class="section-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2>
                            <p class="base-text">Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                pariatur.
                            </p>
                            <p class="base-text">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                                officia deserunt
                                mollit anim id est laborum</p>
                        </div>
                    </div>
                    <div class="tabs-body__images" style="background-image: url(assets/images/2.jpg);">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="tabs__content " data-content="tab-two">
        <div class="swiper js-intro-slider ">
            <div class="swiper-wrapper">
                <div class="swiper-slide js-show-popup" data-trigger="slider-popup"
                    style="background-image: url(assets/images/s1.jpg);">
                </div>
                <div class="swiper-slide js-show-popup" data-trigger="slider-popup"
                    style="background-image: url(assets/images/s2.jpg);">
                    <div class="tabs__swiper-wrap">
                        <p class="base-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
                <div class="swiper-slide js-show-popup" data-trigger="slider-popup"
                    style="background-image: url(assets/images/s3.jpg);">
                </div>
                <div class="swiper-slide js-show-popup" data-trigger="slider-popup"
                    style="background-image: url(assets/images/s4.jpg);">
                </div>
                <div class="swiper-slide js-show-popup swiper-slide-two" data-trigger="slider-popup"
                    style="background-image: url(assets/images/s5.jpg);">
                    <div class="tabs__swiper-wrap">
                        <p class="base-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        </p>
                    </div>
                </div>
            </div>
            <div class="tabs__navig">

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>

    </div>
</div>