<header class="header">
    <div class="container header__wrap">
        <div class="logo">
            <a href="index.html">
                <img src="assets/images/logo.svg" alt="">
            </a>
        </div>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="tel:+74954954954">+7 (495) 495-49-54</a></li>
                <li class="nav__item "><a href="tel:+74954954954">
                        <div class="nav__icon">
                            @@include('../svg-icon/tel.html')
                        </div>
                    </a></li>
            </ul>
        </nav>
    </div>
</header>